.Dining {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 800;
    color: #0b1a2a;
}
p {
    text-align: justify;
    font-weight: 400;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .card {
        height: 100%;
    }
}