.gallery-container {
    padding: 20px;
  }
  .gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  .gallery-item img:hover {
    transform: scale(1.1);
  }
  h3 {
      margin-left: 300px;
      margin-bottom: 50px;
      font-weight: 800;
      color: #0b1a2a;
  }
 