.body {
    margin-left: 15px;
}
.center.offers{
    text-align: center;
    margin-top: 30px;
  }
#special {
    font-weight: bold;
    font-size: 25px;
  }
  #offers{
    color: orangered;
    font-size: 35px;
  }
  .row.row-cols-1.row-cols-md-2.g-4{
    margin-bottom: 120px;
    margin-left: 100px;
    margin-right: 100px;
  }
  
.col {
    display: inline-block;
    width: calc(25% - 20px);
    margin-right: 20px; 
    vertical-align: top;
}

@media (max-width: 1200px) {
  .row.row-cols-1.row-cols-md-2.g-4{
    margin-left: 0px;
    margin-right: 0px;
   }
}

@media (max-width: 768px) {
    .col {
        width: calc(50% - 20px);
        margin-right: 0;
    }
   .row.row-cols-1.row-cols-md-2.g-4{
    margin-left: 0px;
    margin-right: 0px;
   }

}

@media (max-width: 576px) {
    .col {
        width: 100%;
    }
    .row.row-cols-1.row-cols-md-2.g-4{
      margin-left: 0px;
      margin-right: 0px;
     }
}

